MiniElderMagic/obj/
MiniElderMagic/bin/Debug/net9.0/appsettings.Development.json
MiniElderMagic/bin/Debug/net9.0/appsettings.json
MiniElderMagic/bin/Debug/net9.0/MiniElderMagic.deps.json
MiniElderMagic/bin/Debug/net9.0/MiniElderMagic.dll
MiniElderMagic/bin/Debug/net9.0/MiniElderMagic.exe
MiniElderMagic/bin/Debug/net9.0/MiniElderMagic.pdb
MiniElderMagic/bin/Debug/net9.0/MiniElderMagic.runtimeconfig.json
MiniElderMagic/bin/Debug/net9.0/MiniElderMagic.staticwebassets.endpoints.json
MiniElderMagic/Content/asset/client_secret_40251075322-dm2moa4mma8c3uebchl05sgheqhji9rh.apps.googleusercontent.com.json
MiniElderMagic/Content/asset/ems-tools-abe4caca1c01.json
MiniElderMagic/Content/Content.zip
MiniElderMagic/Content/asset/downloads/ems-tools-abe4caca1c01.json
