MiniElderMagic/obj/
MiniElderMagic/bin/Debug/net9.0/appsettings.Development.json
MiniElderMagic/bin/Debug/net9.0/appsettings.json
MiniElderMagic/bin/Debug/net9.0/MiniElderMagic.deps.json
MiniElderMagic/bin/Debug/net9.0/MiniElderMagic.dll
MiniElderMagic/bin/Debug/net9.0/MiniElderMagic.exe
MiniElderMagic/bin/Debug/net9.0/MiniElderMagic.pdb
MiniElderMagic/bin/Debug/net9.0/MiniElderMagic.runtimeconfig.json
MiniElderMagic/bin/Debug/net9.0/MiniElderMagic.staticwebassets.endpoints.json
